<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    name="viewport"
  />
  <meta name="description" content="<%= config.description %>" />
  <meta
    name="keywords"
    content="<%= config.title %>|<%= config.description %>"
  />
  <link rel="shortcut icon" href="<%= theme.logo || '/img/logo.png'%>" />
  <title><%= config.title %></title>
  <%- css('css/style.css') %>
</head>
